{% extends "base.html" %}

{% load staticfiles i18n %}
{% load humanize %}
{% load tz %}

{% block content %}
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
<div class="post-wrap-content">
	{% include "search/lan_search.html" %}
	<div id="post-wrap" class="col-md-12 col-sm-12 col-xs-12">
		{% for lan in categories %}
			{% include "category/one_category.html" %}
		{% endfor %}

	</div>
    <div class="next">
	{% if categories.has_next %}
		<div class="col-md-12 col-sm-12 col-xs-12 post next-post">
		    <a href="javascript:void(0)" class="viewmore-category" data-page="{{ categories.next_page_number}}">{% trans "Xem thêm" %}</a> 
		</div>
	{% endif %}
    </div>
</div>
<div class="test">
	
</div>
<div class="test">
	
</div>
<div class="test">
	
</div>
{% endblock %}
{% block js %}
  <script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
  <script src="{% static 'js/jquery.testplugin.js' %}"></script>
  <script>
  $(document).ready(function() {
  		$(".test").testPlugin();
  });
  </script>
{% endblock %}