{% extends "base.html" %}

{% load staticfiles i18n %}
{% load humanize %}
{% load tz %}

{% block content %}
<div class="post-wrap-content">
	<div id="post-wrap" class="col-md-12 col-sm-12 col-xs-12">
		<!--One Post -->
		<div class="col-md-4 col-sm-4 col-xs-6 view post">
			<div class="lan">
				<div class="name-lan">Kiếm da đen</div>
				<img class="profile-img main img-responsive" src="https://fbcdn-sphotos-f-a.akamaihd.net/hphotos-ak-xap1/v/t1.0-9/10352384_389899404484312_559237812361509696_n.jpg?oh=daf323bc3800449f909be11c5ca99988&oe=55303922&__gda__=1428835435_1139244849c6664b199d3db67051ff37" alt="fb-avatar">
			</div>
			<div class="mask">
				<div class="mask-wrap">
					<div class="profile-panel">
		        		<img class="profile-img medium" src="http://graph.facebook.com/532151049/picture?width=75&amp;height=75" alt="fb-avatar">
		        		
						<div class="profile-mask medium onlyIE8">
		                    <div class="box count"><i class="icon-mom icon-white"></i></div>
		                </div>
	    			</div>
	    			<button class="btn btn-small btn-orange" >
	                        <i class="icon-plus icon-white"></i>Xem
	                    </button>
	    			<div class="footer-lan">
	                    <button class="btn btn-small btn-orange" >
	                        <i class="icon-plus icon-white"></i>Xem
	                    </button>
		    		</div>
				</div>
			</div>
		</div>
		<!--End Post-->
		<!--One Post -->
		<div class="col-md-4 col-sm-4 col-xs-6 view post">
			<div class="lan">
				<div class="name-lan">Kiếm da đen</div>
				<img class="profile-img main img-responsive" src="https://fbcdn-sphotos-f-a.akamaihd.net/hphotos-ak-xap1/v/t1.0-9/10352384_389899404484312_559237812361509696_n.jpg?oh=daf323bc3800449f909be11c5ca99988&oe=55303922&__gda__=1428835435_1139244849c6664b199d3db67051ff37" alt="fb-avatar">
			</div>
			<div class="mask">
			</div>
		</div>
		<!--End Post-->
		<!--One Post -->
		<div class="col-md-4 col-sm-4 col-xs-6 view post">
			<div class="lan">
				<div class="name-lan">Kiếm da đen</div>
				<img class="profile-img main img-responsive" src="https://fbcdn-sphotos-f-a.akamaihd.net/hphotos-ak-xap1/v/t1.0-9/10352384_389899404484312_559237812361509696_n.jpg?oh=daf323bc3800449f909be11c5ca99988&oe=55303922&__gda__=1428835435_1139244849c6664b199d3db67051ff37" alt="fb-avatar">
			</div>
			<div class="mask">
			</div>
		</div>
		<!--End Post-->
		<!--One Post -->
		<div class="col-md-4 col-sm-4 col-xs-6 view post">
			<div class="lan">
				<div class="name-lan">Kiếm da đen</div>
				<img class="profile-img main img-responsive" src="https://fbcdn-sphotos-f-a.akamaihd.net/hphotos-ak-xap1/v/t1.0-9/10352384_389899404484312_559237812361509696_n.jpg?oh=daf323bc3800449f909be11c5ca99988&oe=55303922&__gda__=1428835435_1139244849c6664b199d3db67051ff37" alt="fb-avatar">
			</div>
			<div class="mask">
			</div>
		</div>
		<!--End Post-->
		<!--One Post -->
		<div class="col-md-4 col-sm-4 col-xs-6 view post">
			<div class="lan">
				<div class="name-lan">Kiếm da đen</div>
				<img class="profile-img main img-responsive" src="https://fbcdn-sphotos-f-a.akamaihd.net/hphotos-ak-xap1/v/t1.0-9/10352384_389899404484312_559237812361509696_n.jpg?oh=daf323bc3800449f909be11c5ca99988&oe=55303922&__gda__=1428835435_1139244849c6664b199d3db67051ff37" alt="fb-avatar">
			</div>
			<div class="mask">
			</div>
		</div>
		<!--End Post-->
		<!--One Post -->
		<div class="col-md-4 col-sm-4 col-xs-6 view post">
			<div class="lan">
				<div class="name-lan">Kiếm da đen</div>
				<img class="profile-img main img-responsive" src="https://fbcdn-sphotos-f-a.akamaihd.net/hphotos-ak-xap1/v/t1.0-9/10352384_389899404484312_559237812361509696_n.jpg?oh=daf323bc3800449f909be11c5ca99988&oe=55303922&__gda__=1428835435_1139244849c6664b199d3db67051ff37" alt="fb-avatar">
			</div>
			<div class="mask">
			</div>
		</div>
		<!--End Post-->
	</div>
</div>
{% endblock %}