{% load staticfiles i18n %}
{% load humanize %}
{% load tz %}
<!--One Post -->
<div class="col-md-4 col-sm-6 col-xs-12 view post home">
    <div class="lan">
        <div class="name-lan">{% trans lan.name %}</div>
        <img class="profile-img main img-responsive" src="{{ lan.image_url }}" alt="">
    </div>
    <div class="mask">
        <div class="mask-wrap">
            <div class="profile-panel">
                <img class="profile-img medium" src="{{ lan.image_url }}" alt="">
                
                <div class="profile-mask medium onlyIE8">
                    <div class="box count"><i class="icon-mom icon-white"></i></div>
                </div>
            </div>
            <div class="info-lan-cate">
                <ul class="list-group">
                    <li class="list-group-item">
                        <span class="badge">{{ lan.count_post }}</span>
                        {% trans "Bài viết" %}
                    </li>
                    <li class="list-group-item">
                        <span class="badge">{{ lan.count_views }}</span>
                        {% trans "Lượt xem" %}
                    </li>
                </ul>
            </div>
            <a href="{{lan.get_absolute_url}}" class="btn btn-small btn-orange" >
                <i class="glyphicon glyphicon-plus pull-right"></i>Xem
            </a>
        </div>
    </div>
</div>
<!--End Post-->